body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  background-color: #2b2b2b; }
  body header {
    position: sticky;
    top: 0px;
    background-color: #474747; }

header {
  z-index: 5; }

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px; }
  #header h1 {
    color: white;
    text-shadow: black 3px 3px; }
  #header #head-buttons {
    width: 350px; }
    #header #head-buttons #nav-bar {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #header #head-buttons #nav-bar .activePage {
        background-color: white;
        color: black; }
      #header #head-buttons #nav-bar #activePage11 {
        background-color: white;
        color: black;
        cursor: pointer; }
      #header #head-buttons #nav-bar .activePage:hover {
        background-color: white;
        color: black;
        cursor: not-allowed;
        box-shadow: none; }
      #header #head-buttons #nav-bar a {
        position: relative;
        background-color: #999c9e;
        padding: 15px 20px;
        color: black;
        text-decoration: none;
        transition: .4s;
        border-radius: 2px; }
      #header #head-buttons #nav-bar a:hover {
        background-color: #5f6263;
        color: white;
        box-shadow: 3px 0px white; }

.dropdown {
  position: relative;
  display: inline-block;
  transition: .4s; }

.dropbtn {
  background-color: #999c9e;
  padding: 15px 20px;
  border: none;
  font-size: inherit;
  font-family: 'Raleway', sans-serif;
  transition: .4s; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #474747;
  min-width: 160px;
  z-index: 1;
  transition: .4s; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd;
  transition: .4s; }

.dropdown:hover .dropdown-content {
  display: block;
  transition: .4s; }

.dropdown:hover .dropbtn {
  color: white;
  background-color: #5f6263;
  cursor: pointer;
  transition: .4s; }

main {
  margin-top: 50px;
  z-index: 1; }
  main article {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: black 3px 3px; }
  main .pdfdownload {
    text-decoration: none;
    padding: 8px;
    background-color: #999c9e;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px; }
  main .pdfdownload:hover {
    box-shadow: 3px 3px black;
    background-color: #5f6263;
    color: white; }
  main #welcome-proceed {
    margin-left: auto;
    margin-right: auto; }
  main #discord-invite {
    width: 500px; }
    main #discord-invite iframe {
      margin-left: auto;
      margin-right: auto; }

#dev-main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh; }
  #dev-main #under-dev {
    text-align: center;
    padding: 30px;
    background-color: white;
    box-shadow: black 3px 3px; }

td, th {
  border: 1px solid #ddd;
  padding: 8px; }
